.detalhe-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    text-align: center;

}

.detalhe-container .detalhe-content {
    width: 100%;
    max-width: 80vw;
    margin: 50px auto;
    display: flex;
    text-align: center;
}

.detalhe-container .detalhe-content .cards-container {
    width: 75%;
}

.detalhe-container .detalhe-content .contato-container {
    margin-left: 45px;
    width: 50%;

}

.detalhe-container .detalhe-content .contato-container .contact-button {
    position: unset;
    top: unset;
    left: unset;
}


.detalhe-container h1 {
    font-size: 32px;
    width: 100%;
    margin: 5% 0 5% 0;
}

.detalhe-container a {
    display: block;
    position: absolute;
    top: 10%;
    left: 15%;
}

.detalhe-container .card {
    min-height: 200px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.detalhe-container .card .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detalhe-container .card .card-content .card-content__descricao {
    width: 45%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.detalhe-container .card .card-content .card-content__descricao p {
    margin-top: 10px;
    text-align: start;
    line-height: 22px;
}

.detalhe-container .card label {
    font-size: 14px;
    font-weight: bold;
    color: #333;

}

.detalhe-container .card .caso-data {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

.detalhe-container .card .caso-data.title {
    font-size: 28px;
    padding-top: 10px;
}

.detalhe-container .card .card-content .top-30 {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .detalhe-container .detalhe-content {
        flex-direction: column;
    }

    .detalhe-container .detalhe-content .cards-container {
        width: 100%;
    }
    
    .detalhe-container .detalhe-content .contato-container {
        margin-left: unset;
        width: 100%;
    }
    
    .detalhe-container .card .card-content {
        flex-direction: column;
        padding: 0 20px;
    }

    .detalhe-container .back-link {
        position: unset;
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
    }
    
    .detalhe-container h1 {
        margin: 7% 0 9% 0;
    }

    .detalhe-container .card .card-content .card-content__descricao {
        width: unset;
    }
}

.justify {
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.justify label {
    margin-bottom: 5px;
}