.container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: unset;
}

.container .header-action {
    width: 100%;
}

.container .content {
    width: 100%;
    max-width: 95%;
    display: flex;
    justify-content: center;
}

.container h1 {
    font-size: 32px;
    width: 100%;
    margin: 8% 0 5% 0;
}

.container a {
    display: block;
    position: absolute;
    top: 10%;
    left: 15%;
}

.container form {
    width: 100%;
    max-width: 450px;
    text-align: start;
}

.container form .espacamento {
    margin-top: 10px;
}

.container form span {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.container form input,
.container form textarea {
    margin-top: 8px;
}

@media (max-width: 768px) {
    .container form {
        width: 90%;
    }

    .container a {
        position: unset;
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
    }
    .container h1 {
        margin: 7% 0 9% 0;
    }
}