.container-cadastro {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-cadastro h1 {
    font-size: 32px;
    width: 100%;
    margin: 21% 0 9% 0;
}

.container-cadastro a {
    display: block;
    position: absolute;
    top: 10%;
    left: 15%;
}

.container-cadastro form {
    width: 100%;
    max-width: 450px;
}

.container-cadastro form input,
.container-cadastro form textarea {
    margin-top: 8px;
}

.container-cadastro .content label {
    font-size: 16px;
    display: block;
    text-align: start;
    margin-bottom: 7px;
}

.container-cadastro .content form .input-group {
    display: flex;
}

.container-cadastro .content form .input-group input + input {
    margin-left: 8px;
}

.copy-input-group {
    display: flex;
    justify-content: space-between;
}

.copy-input-group .copy-clipboard-input {
    width: 80%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

.copy-input-group button {
    width: 17%;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    background: #1d7fca;
    color: #ffffff;
    font-weight: bold;
}

@media (max-width: 735px) {
    .container-cadastro a {
        position: unset;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
    }
    .container-cadastro h1 {
        margin: 7% 0 9% 0;
    }
    .container-cadastro form {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }
}