.container-cadastro {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-cadastro h1 {
    font-size: 32px;
    width: 100%;
    margin: 21% 0 9% 0;
}

.container-cadastro a {
    display: block;
    position: absolute;
    top: 10%;
    left: 15%;
}

.container-cadastro form {
    width: 100%;
    max-width: 450px;
}

.container-cadastro form input,
.container-cadastro form textarea {
    margin-top: 8px;
}

.container-cadastro .content form .input-group {
    display: flex;
}

.container-cadastro .content form .input-group input + input {
    margin-left: 8px;
}

@media (max-width: 735px) {
    .container-cadastro a {
        position: unset;
        display: flex;
        margin-top: 20px;
    }
    .container-cadastro h1 {
        margin: 7% 0 9% 0;
    }
}