.listagem-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.listagem-container .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listagem-container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.listagem-container header span {
    font-size: 20px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listagem-container header span svg {
    margin-left: 5px;
    cursor: pointer;
}

.listagem-container header img {
    height: 64px;;
}

.listagem-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}


.listagem-container .title-container {
    margin-top: 80px;
    margin-bottom: 24px;
}

.listagem-container .title-container select {
    height: 35px;
    border: solid 2px #1d7fca;
    background: #fff;
    color: #1d7fca;
    border-radius: 4px;
    font-weight: 700;
    margin-top: 16px;
    font-size: 18px;
}

.listagem-container ul {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}


.listagem-container ul li {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.listagem-container ul li button {
    background: transparent;
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
}

.listagem-container ul li button:hover {
    opacity: 0.8;
 }

 .listagem-container ul li strong {
     display: block;
     margin-bottom: 16px;
     color: #41414d;
 }

 .listagem-container ul li p + strong {
    margin-top: 32px;
 }

 .listagem-container ul li p { 
     color: #737380;
     line-height: 21px;
     font-size: 16px;
 }

 .listagem-container .button {
    width: 25%;
}
.listagem-container .label-sem-itens{
    text-align: center;
    font-size: 16px;
}

.modal {
    width: 30vw;
    height: 20vh;
    background: #f3f3f3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal .modal-buttons-container {
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.modal .modal-button {
    width: 100px;
    height: 60px;
    background: #1d7fca;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.modal .modal-button.secundary {
    background: #797b7c;
}

@media (max-width: 1030px) {
    .modal {
        width: 100%;
        padding: 15px;
    }
    
    .modal .modal-buttons-container {
        width: 80%;
    }
}

@media (max-width: 735px) {
    .listagem-container .title-container {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 50px;
    }

    .listagem-container .button {
        width: 100%;
        margin-bottom: 20px;
    }

    .listagem-container ul {
        grid-template-columns: repeat(1, 1fr);
    }
}